<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ingresar_producto.css">
    <link rel="stylesheet" href="../css/tabla_productos.css">
    <script src="https://kit.fontawesome.com/3e8b0b13fa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/stylo.css">
    <title>Registrar</title>
</head>

<body>

    <header id=>
        <nav class="menu">
            <a class="nuevo" href="../index.html">Sugerencias Realizadas</a>
            <a class="nuevo" href="../andres.html">Volver</a>
        </nav>
    </header>

    <main>

        <section>
            <div class="container-form">

                <form action="">
                    <div class="entrada">
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" id="nombre">
                    </div>

                    <div class="entrada">
                        <label for="correo">Correo:</label>
                        <input type="text" name="correo" id="correo">
                    </div>

                    <div class="entrada">
                        <label for="titulo">Titulo Sugerido:</label>
                        <input type="text" name="titulo" id="titulo">
                    </div>

                    <div class="entrada">
                        <label for="imagen">URL Imagen:</label>
                        <input type="text" name="imagen" id="imagen">
                    </div>

                    <div class="entrada">
                        <button class="modificar" type="button" onclick="guardar()">Guardar</button>
                    </div>

                </form>

            </div>
        </section>

    </main>

    <script src="../js/ingresar_producto.js"></script>
    <script src="../js/header.js"></script>

    <footer class="footer">
        <div class="container-footer">
            <div class="footer-content">
                <div class="footer-logo">
                    <img src="../img/58939f9f-3408-4a38-8cd2-e185b4604127.jpg" alt="Logo de la tienda">
                </div>
                <div class="footer-info">
                    <p><strong>23528 BOOKS </strong></p>
                    <p><em>Tu destino para explorar nuevos mundos</em></p>
                    <p>Dirección: 123 Calle de los Libros</p>
                    <p>Teléfono: (123) 456-7890</p>
                </div>
                <div class="footer-social">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.instagram.com/?hl=es-la" target="_blank"><i
                            class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <hr>
            <div class="footer-links">
                <ul>
                    <li><a href="#">Términos y Condiciones</a></li>
                    <li><a href="#">Política de Privacidad</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>