*{
    margin: 0%;
    padding: 0%;
    
}

.container{
    background: #d69620;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


table {
    background-color: #001F3F;
    border-collapse: collapse;
    width: 60vw;
    max-width: 60vw;
    margin: 2vw auto;
    font-family: Arial, sans-serif;
    height:auto;
    
  }

th, td {
    border: 0.1vw solid #dddddd;
    padding: 0.8vw;
    text-align: left;
    color: #dddddd;
    
  }

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #001F3F;
}


td:hover{
    background-color: #f2f2f2;
    color:#001F3F
}

.nuevo:hover{
    background-color: #f2f2f2;
    color:#001F3F
}
.accesosdirectos:hover{
    background-color: #f2f2f2;
    color:#001F3F
}

.menu{
    text-decoration: none;
    background-color: #001F3F;
    height: 4.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw;

}

button{    
    margin-right: 2vh;
    background-color: red; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 0.5vw 3vh; /* Relleno interno */
    border: none; /* Quita el borde */
    border-radius: 2vw; /* Borde redondeado */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 1vw; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    transition: .5s;
}

button:hover{
    background-color: rgb(255, 32, 32);
    
}

.boton{
    color: #f2f2f2;
    margin-right: 2vh;
    background-color: #4CAF50; /* Color de fondo */
    padding: 0.5vw 3vh; /* Relleno interno */
    border: none; /* Quita el borde */
    border-radius: 2vw; /* Borde redondeado */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 1vw; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    transition: .5s;
}
.boton:hover{
    background-color: #45ca49;
}

.nuevo{
    color: #f2f2f2;
    margin-right: 2vh;
    background-color: #2781dc50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 0.5vw 3vh; /* Relleno interno */
    border: none; /* Quita el borde */
    border-radius: 2vw; /* Borde redondeado */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 1.5vw; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}


img{
    width: 13vw;
    height: 10vh;
}

@media screen and (max-width:768px){
    .menu {
        padding: 0 5%;
    }
}